* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(102, 99, 102);
    color: bisque;
    border-bottom: 5px solid purple;
    height: 6rem;
  }
  .title span {
    color: purple;
  }
  .title h1 {
    font-size: 2rem;
  }
  .nav a{
    text-decoration: none;
    margin-right:2rem;
    color: bisque;
    cursor: pointer;
    
  }
  .nav span {
    color: purple;
  }
  .subs {
    background: rgb(102, 99, 102);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.2rem;
    color: bisque;
  }
  input {
    padding: 2px;
  }
  button {
    padding: 2px;
    color: bisque;
    background-color: orangered;
    border: none;
  }

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    height: 45rem;
}

.left {
    width: 50%;
    
}
.leftbottom p {
    background-color: rgb(102, 99, 102);
    background-size:cover;
    padding-top:1rem ;
    
}

.right {
width: 30%;
height: 35vh;
background-color: rgb(102, 99, 102);
}

  footer {
    background-color: rgb(102, 99, 102);
   display: flex;
        align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: bisque;

  }

  @media only screen and (max-width:600px) {
    .left {
        width: 100%;
    }
    .right {
      width: 100%;
          }
    .navbar { padding: 0.2rem; }
    footer {
      margin-top: 10rem;
    }

  }